# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env

# TypeScript compiled files
dist/
build/
*.js
*.js.map

# Database files
*.sqlite
*.sqlite-wal
*.sqlite-shm

# Temporary files
*.tmp
*.temp

# IDE files
.vscode/
.idea/
*.swp

# Yarn and NPM files
.yarn/
.yarn-integrity
.yarnrc.yml
package-lock.json

# Test coverage output
coverage/

# Miscellaneous
*.log

# Except
!ecosystem.config.js 
